<script src="{{ 'assets/plugins/jquery/jquery.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ 'assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ 'assets/js/adminlte.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ 'assets/js/jquery.maskedinput.js' | prepend: site.baseurl }}"></script>
<script src="{{ 'assets/js/jquery.maskedinput.min.js' | prepend: site.baseurl }}"></script>